%section.landing-head
  = image_tag('landing3.jpg', class: "background-image")
  .landing-content-area
    %form
      %h1 IIT Facilities Application
      %div.form-group.col-md-6.offset-md-3
        %select#inputBuilding.form-control
          %option{:selected => "selected"} Select Building
          %option Stuart Building
          %option Alumini Building
          %option Idea Shop

      %a#openMaps.btn.btn-info.btn-lg Open Maps
