- if flash[:notice]
  .container
    .alert.alert-success{:role => "alert", :style => "margin-top: 25px;"}
      = flash[:notice]

#adminButtons{:style => "margin-top: 35px;"}
  .row{:style => "margin: 17px 0px;"}
    .col-md-4.offset-md-4.align-middle
      = link_to "Stuart", admin_stuart_path, class: "btn btn-success btn-lg btn-block"
  .row{:style => "margin: 17px 0px;"}
    .col-md-4.offset-md-4
      = link_to "Alumini", admin_alumini_path, class: "btn btn-success btn-lg btn-block"