// Place all the styles related to the Admin controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#google-signin {
  display: block;
  margin: 35px auto;
}

@media only screen and (max-width: 500px) {
  #google-signin {
    width: 85%;
  }
}